---
import HeaderLink from '@/components/HeaderLink'
import TwitterIcon from '@/components/icons/TwitterIcon'
import GithubIcon from '@/components/icons/GithubIcon'
import MenuIcon from './icons/MenuIcon.astro'
import Search from '@/components/Search'
import TagIcon from './icons/TagIcon.astro'
import ToggleTheme from './ToggleTheme.astro'

const SOCIALNETWORKS = [
	{
		name: 'Github',
		url: 'https://github.com/towardsuffering',
		icon: GithubIcon
	},
	{
		name: 'Twitter',
		url: 'https://x.com/ChrisRotunno',
		icon: TwitterIcon
	}
]
---

<header class='relative flex items-center justify-between h-12 font-semibold'>
	<!-- Primary Navigation -->
	<nav class='flex items-center gap-6'>
		<HeaderLink href='/'>Home</HeaderLink>
		<HeaderLink href='/about'>About</HeaderLink>
		<HeaderLink href='/tags' class='flex items-center gap-1'>
			<TagIcon /> Tags
		</HeaderLink>
	</nav>

	<!-- Social, Search, and Theme Toggle -->
	<div class='flex items-center gap-4'>
		<div class='hidden md:flex items-center gap-3'>
			{
				SOCIALNETWORKS.map((network) => (
					<HeaderLink href={network.url} target='_blank' aria-label={network.name}>
						<span>{<network.icon />} </span>
					</HeaderLink>
				))
			}
		</div>

		<Search />
		<ToggleTheme />

		<!-- Mobile Menu Button -->
		<button id='astro-header-drawer-button' type='button' class='md:hidden'>
			<MenuIcon />
			<span class='sr-only'>Show Menu</span>
		</button>
	</div>

	<!-- Mobile Navigation Drawer -->
	<div
		id='astro-header-drawer'
		class='shadow rounded-l-lg md:hidden bg-white dark:bg-[#0a0910] absolute transition-transform duration-300 ease-in translate-x-full top-12 right-0 pl-4 pt-6 pb-4 h-[200px] w-[75vw] z-50'
	>
		<nav class='flex flex-col gap-4'>
			<HeaderLink href='/'>Home</HeaderLink>
			<HeaderLink href='/about'>About</HeaderLink>
			<HeaderLink href='/tags' class='flex items-center gap-1'>
				<TagIcon /> Tags
			</HeaderLink>
			{
				SOCIALNETWORKS.map((network) => (
					<HeaderLink href={network.url} target='_blank' aria-label={network.name}>
						<span>{<network.icon />} </span>
					</HeaderLink>
				))
			}
		</nav>
	</div>
</header>

<script>
	document.addEventListener('click', (event) => {
		const menu = document.getElementById('astro-header-drawer')
		const menuButton = document.getElementById('astro-header-drawer-button')
		const isClickInside =
			menu?.contains(event.target as HTMLDivElement) ||
			menuButton?.contains(event.target as HTMLButtonElement)

		if (isClickInside) {
			menu?.classList.toggle('translate-x-full') // Updated for full-screen mobile slide
		} else {
			menu?.classList.add('translate-x-full') // Hides the menu off-screen
		}
	})
</script>
